<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Geolocation
    </ion-title>
    <ion-searchbar placeholder="{{'find' | translate}}" animated (ionChange)="searchLocation($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <label (click)="locate()" class="location">Obtener Ubicación</label>
  <ion-icon name="compass"></ion-icon>

  <ion-list>
    <ion-item *ngFor="let location of locationSearched" (click)="selectLocation(location.city)">
      <ion-label>
        <h2>{{location.city}} ({{location.province}})</h2>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>


